<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<main>
  <%- include('./partials/cabecalho.ejs') %>

  <% if(users && id) { %>
    <%- include('./partials/detalhes-usuario.ejs') %>
  <% } %>

  <% if(users) { %>
    <%- include('./partials/lista-usuarios.ejs') %>
  <% } %>

</main>

<%- include('./partials/footer.ejs') %>