<% let produto = produtos.filter(produto => produto.id == id) %>
<section class="produtos">

  <article id="produtoCard<%= produto[0].id %>" class="produto-card">
    <img src="<%= produto[0].imagem %>" alt="Imagem do produto <%= produto[0].titulo %>" class="produto-imagem">
    <h3 class="produto-titulo"><%= produto[0].categoria %> > <%= produto[0].titulo %> <%= produto[0].marca %></h3>
    <h4 class="produto-preco">R$ <%= produto[0].preco %></h4>
    <div class="produto-btn-group">
      <a href="/produtos/edit/<%= produto[0].id %>" class="produto-btn">Editar</a>
      <a href="/produtos/delete/<%= produto[0].id %>" class="produto-btn">Excluir</a>
    </div>
  </article>

</section>